:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: rgb(75, 75, 75);
}
.todo-container h1 {
  color: white
}
.container {
  text-align: center;
}
.container h1 {
  color: #fff;
  text-align: center;
  padding-top: 1.5rem;
}
.container .intro {
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
  font-style: italic;
}

.container button {
  margin-top: .5rem;
  font-size: 1.2rem;
  outline: none;
  border: .5px solid rgb(82, 82, 77);
  background-color: rgb(8, 14, 128);
  color: white;
  padding: 0rem .5rem;
  border-radius: 2% 10%;
  cursor: pointer;
}


.auth-container {
  text-align: center;
  height: 25rem;
  width: 25rem;
  border: 4px solid rgb(101, 101, 104);
  margin: 15% auto;
  box-shadow: 10px 20px 30px 20px rgb(117, 117, 117);
}
.auth-container h1 {
  margin: 1rem 0rem 2rem;
  color: whitesmoke;
}
.auth-form {
  box-sizing: border-box;
  display: block;
}
.auth-form label {
  display: block;
  font-size: 1.2rem;
  color: rgb(176, 171, 171);
  padding: .2rem 0rem;
}

.display-name-input, .email-input, .password-input{
  width: 13rem;
  height: 2rem;
  padding-left: .5rem;
  border-radius: 10px;
  outline: none;
}

.auth-container button {
  background-color: blue;
  margin-top: 1rem;
  color: #fff;
  padding: .4rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
}
.info {
  color: whitesmoke;
  margin-top: 2rem;
}
.info a {
  color: blue;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;

  }
}

.todo-container {
  text-align: center;
}
.todo-container button {
  margin-bottom: 3rem;
}
.todos {
  display: flex;
  justify-content: center;
  padding: 1.2rem 0rem;
  margin-bottom: 2rem;
  background-color: rgb(58, 58, 61);
  color: white;
}
.todos li {
  margin-right: 1rem;
  text-align: center;
}

.todos img {
  margin-left: 1rem;
  cursor: pointer;
}

.todos p {
  font-size: 1.2rem;
  color: white;
}

.btn-container {
  text-align: right;
  margin-right: .5rem;

}
.btn-container button {
  background: rgb(153, 160, 153);
  outline: none;
  padding: .6rem;
  font-size: .9rem;
  border-radius: 40px;
  cursor: pointer;
  color: black;
}

.todoInput {
  width: 16rem;
  height: 2rem;
  margin-right: .4rem;
  border-radius: 30px;
  border-color: black;
}
.todoBtn {
  padding: .3rem;
  border-radius: 20px;
  background: rgb(63, 63, 82);
  cursor: pointer;
  color: #fff;
}